
p{
	color: white;
 	font-size: 16px;    
  	line-height: 2;
  	letter-spacing: 1px;
}
li{
	color: lightgreen;
	font-size: 16px;    
  	line-height: 2;
  	letter-spacing: 1px;
}
h1 {
  color: white;
  font-size: 60px;
  text-align: center;
   margin: 0;
  padding: 20px 0;    
  text-shadow: 3px 3px 1px black;
}
h2{
	font-size: 30px;
	color: lightblue;
}
a{
	color: grey;
}
html {
  font-size: 10px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
  font-family:'Fira Sans Condensed', sans-serif;
  background-color: #040000;
}
body {
	max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  background-color: #35016A;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}